RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
#RewriteRule ^xplitcietstores index.php
#RewriteRule ^xplitcietstores index.php
#RewriteRule ^xplitcietStores index.php